---
layout: postlist
title: BLOG LIST
description: Zbrushの小技や作品制作の進捗など記事にしていきます。We will make articles such as Zbrush's tips and progress of work creation.
---

 <div class="wrapper blog_list">
  <section>
    <h2>BLOG</h2>
    <p class="title_sub">Zbrushの小技や作品制作の進捗など記事にしていきます。<br>We will make articles such as Zbrush's tips and progress of work creation.</p>
    <ul>
      {% for post in paginator.posts %}
      <li>
        <a href="{{ post.url }}" target="_blank">
          <div class="img"><img src="/assets/img/blog/{{ post.image }}" alt="image"></div>
          <div>
            <time>{{ post.date | date: "%Y.%m/%d" }}</time>
            <p>{{ post.title }}</p>
          </div>
        </a>
      </li>
      {% endfor %}
    </ul>
    {% include pager.html %}
  </section>
</div>