---
layout: postlist
title: ブログ一覧
description: 一覧ページ
---

 <div class="wrapper blog_list">
  <section>
    <h2>BLOG一覧</h2>
    <p class="title_sub">Zbrushの小技や作品制作の進捗など記事にしていきます。</p>
    <ul>
      {% for post in paginator.posts %}
      <li>
        <a href="{{ post.url }}" target="_blank">
          <div class="img"><img src="/assets/img/blog/{{ post.image }}" alt="image"></div>
          <div>
            <time>{{ post.date | date: "%Y.%m/%d" }}</time>
            <p>{{ post.title }}</p>
          </div>
        </a>
      </li>
      {% endfor %}
    </ul>
    {% include pager.html %}
  </section>
</div>