@charset "UTF-8";
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
/*要素のフォントサイズやマージン・パディングをリセットしています*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/*行の高さをフォントサイズと同じにしています*/
body {
  line-height: 1;
}

/*新規追加要素のデフォルトはすべてインライン要素になっているので、section要素などをブロック要素へ変更しています*/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/*nav要素内ulのマーカー（行頭記号）を表示しないようにしています*/
nav ul {
  list-style: none;
}

/*引用符の表示が出ないようにしています*/
blockquote, q {
  quotes: none;
}

/*blockquote要素、q要素の前後にコンテンツを追加しないように指定しています*/
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/*a要素のフォントサイズなどをリセットしフォントの縦方向の揃え位置を親要素のベースラインに揃えるようにしています*/
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

/* ins要素のデフォルトをセットし、色を変える場合はここで変更できるようにしています */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* mark要素のデフォルトをセットし、色やフォントスタイルを変える場合はここで変更できるようにしています
また、mark要素とは、文書内の検索結果で該当するフレーズをハイライトして、目立たせる際に使用するようです。*/
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/*テキストに打ち消し線が付くようにしています*/
del {
  text-decoration: line-through;
}

/*IEではデフォルトで点線を下線表示する設定ではないので、下線がつくようにしています
また、マウスオーバー時にヘルプカーソルの表示が出るようにしています*/
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/*隣接するセルのボーダーを重ねて表示し、間隔を0に指定しています*/
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*水平罫線のデフォルトである立体的な罫線を見えなくしています*/
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/*縦方向の揃え位置を中央揃えに指定しています*/
input, select {
  vertical-align: middle;
}

/* ulの黒丸を消す */
ul {
  list-style: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  font-size: 14px;
  color: #eee;
  line-height: 1.6;
  letter-spacing: 0.025em;
}

img {
  width: 100%;
  max-width: 100%;
}

.pc {
  display: block;
}
@media screen and (max-width: 768px) {
  .pc {
    display: none;
  }
}

.sp {
  display: none;
}
@media screen and (max-width: 768px) {
  .sp {
    display: block;
  }
}

.main {
  position: relative;
  overflow: hidden;
}
.main .wrapper section {
  padding: 150px 0;
}
@media screen and (max-width: 768px) {
  .main .wrapper section {
    padding: 25% 0;
  }
}
.main .wrapper section h2 {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 40px;
  letter-spacing: 0.1em;
  position: relative;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .main .wrapper section h2 {
    font-size: 30px;
  }
}
.main .wrapper section h2:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 60px;
  background: rgba(0, 146, 202, 0.6);
  height: 4px;
}
@media screen and (max-width: 768px) {
  .main .wrapper section h2:after {
    top: 120%;
  }
}
.main .wrapper section .title_sub {
  font-size: 14px;
  text-align: center;
  margin-bottom: 4rem;
}
@media screen and (max-width: 768px) {
  .main .wrapper section .title_sub {
    font-size: 12px;
    text-align: justify;
    margin-bottom: 4rem;
    width: 90%;
    margin: 0 auto 3rem;
  }
}
.main .wrapper section .slide_text {
  -webkit-clip-path: inset(0 100% 0 0);
  clip-path: inset(0 100% 0 0);
  -webkit-transition: all 5s ease;
  transition: all 5s ease;
}
.main .wrapper section.active h2 span {
  webkit-clip-path: inset(0);
  -webkit-clip-path: inset(0);
          clip-path: inset(0);
}
.main .wrapper section.active .slide_text {
  webkit-clip-path: inset(0);
  -webkit-clip-path: inset(0);
          clip-path: inset(0);
}
.main .wrapper #top {
  position: relative;
  background-color: #000;
  padding: 0;
}
.main .wrapper #top .hero {
  height: 100vh;
  width: 100vw;
  position: relative;
}
.main .wrapper #top .hero h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  opacity: 0.7;
  text-align: center;
  z-index: 3;
}
@media screen and (max-width: 768px) {
  .main .wrapper #top .hero h1 {
    width: 80%;
  }
}
.main .wrapper #top .hero .slider img {
  max-width: inherit;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}
.main .wrapper #art {
  background: #393e46;
}
.main .wrapper #art ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 90%;
  margin: 0 auto 1rem;
}
@media screen and (max-width: 768px) {
  .main .wrapper #art ul {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.main .wrapper #art ul li {
  width: 32%;
  position: relative;
  margin-right: 2%;
  margin-bottom: 2%;
  cursor: pointer;
  top: 30px;
  opacity: 0;
  -webkit-transition: all 3s ease;
  transition: all 3s ease;
}
@media screen and (max-width: 768px) {
  .main .wrapper #art ul li {
    width: 48%;
    margin: 0 0 2%;
  }
}
.main .wrapper #art ul li:nth-child(3n) {
  margin-right: 0;
}
.main .wrapper #art ul li a {
  height: 170px;
  display: block;
  width: 100%;
  overflow: hidden;
  -webkit-filter: grayscale(70%);
          filter: grayscale(70%);
  -webkit-transition: all .24s ease;
  transition: all .24s ease;
}
@media screen and (max-width: 768px) {
  .main .wrapper #art ul li a {
    height: 120px;
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
  }
}
.main .wrapper #art ul li a img {
  width: 100%;
  height: 170px;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all .24s ease;
  transition: all .24s ease;
}
@media screen and (max-width: 768px) {
  .main .wrapper #art ul li a img {
    height: 120px;
  }
}
.main .wrapper #art ul li:hover a {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-transition: all .24s ease;
  transition: all .24s ease;
}
.main .wrapper #art ul li:hover a img {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: all .24s ease;
  transition: all .24s ease;
}
.main .wrapper #art .more_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .main .wrapper #art .more_wrap {
    display: block;
    width: 100%;
  }
}
.main .wrapper #art .more_wrap div {
  text-align: center;
  margin-right: 1rem;
  width: 45%;
}
@media screen and (max-width: 768px) {
  .main .wrapper #art .more_wrap div {
    margin: 0 auto 1rem;
    width: 69%;
  }
}
.main .wrapper #art .more_wrap div a {
  background-color: #000;
  display: block;
  color: #fff;
  padding: 8px 0;
  cursor: pointer;
  letter-spacing: 0.15em;
  -webkit-transition: all .24s ease;
  transition: all .24s ease;
}
.main .wrapper #art .more_wrap div a:hover {
  background-color: #0092ca;
  -webkit-transition: all .24s ease;
  transition: all .24s ease;
}
.main .wrapper #art .more_wrap div:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .main .wrapper #art .more_wrap div:last-child {
    margin: 0 auto;
  }
}
.main .wrapper #about {
  background-color: #222831;
}
.main .wrapper #about h2 {
  margin-bottom: 5rem;
}
.main .wrapper #about .lead {
  text-align: center;
  line-height: 1.8;
}
@media screen and (max-width: 768px) {
  .main .wrapper #about .lead {
    font-size: 12px;
  }
}
.main .wrapper #about .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .main .wrapper #about .box {
    display: block;
  }
}
.main .wrapper #about .box .detail figure {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  margin-bottom: 2rem;
}
@media screen and (max-width: 768px) {
  .main .wrapper #about .box .detail figure {
    width: 130px;
    height: 130px;
  }
}
.main .wrapper #about .box .detail figure img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
  height: 200px;
}
@media screen and (max-width: 768px) {
  .main .wrapper #about .box .detail figure img {
    height: 130px;
  }
}
.main .wrapper #about .box .skill {
  opacity: 0;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
  width: 0;
}
@media screen and (max-width: 768px) {
  .main .wrapper #about .box .skill {
    width: 95%;
  }
}
.main .wrapper #about .box .skill h3 {
  font-size: 24px;
}
@media screen and (max-width: 768px) {
  .main .wrapper #about .box .skill h3 {
    text-align: center;
    font-size: 20px;
  }
}
.main .wrapper #about .box .skill dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 40px;
}
@media screen and (max-width: 768px) {
  .main .wrapper #about .box .skill dl {
    margin-top: 5%;
  }
}
.main .wrapper #about .box .skill dl dt {
  width: 25%;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .main .wrapper #about .box .skill dl dt {
    font-size: 12px;
  }
}
.main .wrapper #about .box .skill dl dd {
  width: 75%;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .main .wrapper #about .box .skill dl dd {
    margin-bottom: 4%;
  }
}
.main .wrapper #about .box .skill dl dd span {
  width: 100%;
  background-color: #000;
  position: relative;
  border-radius: 7px;
  height: 20px;
  display: inline-block;
}
@media screen and (max-width: 768px) {
  .main .wrapper #about .box .skill dl dd span {
    height: 13px;
  }
}
.main .wrapper #about .box .skill dl dd span:after {
  content: "";
  background-color: #eee;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 98%;
  width: 0;
  border-radius: 7px;
}
.main .wrapper #about.slide .box {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}
.main .wrapper #about.slide .box .detail {
  width: 55%;
}
@media screen and (max-width: 768px) {
  .main .wrapper #about.slide .box .detail {
    width: 100%;
  }
}
.main .wrapper #about.slide .box .skill {
  opacity: 1;
  width: 40%;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
  margin-left: 3%;
}
@media screen and (max-width: 768px) {
  .main .wrapper #about.slide .box .skill {
    width: 95%;
    margin: 12% auto 0;
  }
}
.main .wrapper #about.slide .box .skill.on dl dd span:after {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
  width: 90%;
}
.main .wrapper #about.slide .box .skill.on dl dd:nth-child(4) span:after {
  width: 70%;
}
.main .wrapper #about.slide .box .skill.on dl dd:nth-child(6) span:after {
  width: 85%;
}
.main .wrapper #about.slide .box .skill.on dl dd:nth-child(8) span:after {
  width: 60%;
}
.main .wrapper #works {
  background-color: #000;
}
.main .wrapper #works .title_sub {
  text-align: center;
}
.main .wrapper #works ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}
.main .wrapper #works ul li {
  width: 48%;
  position: relative;
  margin-bottom: 2rem;
  -webkit-transition: all .24s ease;
  transition: all .24s ease;
}
@media screen and (max-width: 768px) {
  .main .wrapper #works ul li {
    width: 100%;
  }
}
.main .wrapper #works ul li a {
  color: #fff;
}
.main .wrapper #works ul li a figure {
  font-size: 0;
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .main .wrapper #works ul li a figure {
    height: auto;
  }
}
.main .wrapper #works ul li a figure img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 300px;
}
@media screen and (max-width: 768px) {
  .main .wrapper #works ul li a figure img {
    position: static;
    -webkit-transform: none;
            transform: none;
    height: auto;
  }
}
@media screen and (max-width: 768px) {
  .main .wrapper #works ul li a p {
    font-size: 12px;
  }
}
.main .wrapper #works ul li a p span {
  display: block;
}
@media screen and (max-width: 768px) {
  .main .wrapper #works ul li a p span {
    margin-top: 0.4rem;
  }
}
.main .wrapper #works ul li:hover {
  opacity: 0.7;
  -webkit-transition: all .24s ease;
  transition: all .24s ease;
}
.main .wrapper #contact {
  background: url(../img/top/contact_bg.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 2;
}
.main .wrapper #contact:after {
  content: "";
  width: 100%;
  height: 40%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(black), color-stop(1%, rgba(0, 0, 0, 0.99)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to bottom, black 0%, rgba(0, 0, 0, 0.99) 1%, rgba(0, 0, 0, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 );
  /* IE6-9 */
}
@media screen and (max-width: 768px) {
  .main .wrapper #contact .title_sub {
    text-align: center;
  }
}
.main .wrapper #contact div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}
.main .wrapper #contact div figure {
  width: 27px;
  margin-right: 0.8rem;
  font-size: 0;
}
@media screen and (max-width: 768px) {
  .main .wrapper #contact div figure {
    width: 23px;
  }
}
.main .wrapper #contact div a {
  color: #fff;
  font-size: 16px;
  letter-spacing: 0.05em;
}
@media screen and (max-width: 768px) {
  .main .wrapper #contact div a {
    font-size: 14px;
  }
}

.wrapper.blog_list {
  background-color: #222831;
}
.wrapper.blog_list section {
  padding-top: 12rem;
}
@media screen and (max-width: 768px) {
  .wrapper.blog_list section {
    padding-top: 14%;
  }
}
.wrapper.blog_list section .title_sub {
  text-align: center;
  display: block;
}
.wrapper.blog_list section ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1240px;
  width: 90%;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .wrapper.blog_list section ul {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.wrapper.blog_list section ul li {
  width: 32%;
  background-color: #393e46;
  margin-bottom: 2rem;
  margin-right: 2%;
}
@media screen and (max-width: 768px) {
  .wrapper.blog_list section ul li {
    width: 48%;
    margin-right: 0;
  }
}
.wrapper.blog_list section ul li:last-child, .wrapper.blog_list section ul li:nth-child(3n) {
  margin-right: 0;
}
.wrapper.blog_list section ul li a {
  opacity: 1;
  -webkit-transition: all .24s ease;
  transition: all .24s ease;
  display: block;
  cursor: pointer;
}
.wrapper.blog_list section ul li a:hover {
  opacity: 0.7;
  -webkit-transition: all .24s ease;
  transition: all .24s ease;
}
.wrapper.blog_list section ul li a .img {
  width: 100%;
  height: 300px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .wrapper.blog_list section ul li a .img {
    height: 150px;
  }
}
.wrapper.blog_list section ul li a .img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 768px) {
  .wrapper.blog_list section ul li a .img img {
    height: 150px;
  }
}
.wrapper.blog_list section ul li a div {
  color: #fff;
  padding: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-break: break-word;
}
.wrapper.blog_list section ul li a div time {
  display: block;
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  .wrapper.blog_list section ul li a div time {
    font-size: 12px;
  }
}
.wrapper.blog_list section ul li a div p {
  display: block;
  text-align: justify;
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  .wrapper.blog_list section ul li a div p {
    font-size: 13px;
  }
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 220px;
  margin: 3rem auto 0;
}
.pagination a {
  color: #fff;
}

.wrapper.blog {
  background-color: #222831;
}
.wrapper.blog section {
  padding-top: 8rem;
  padding-left: 5%;
  padding-right: 5%;
}
@media screen and (max-width: 768px) {
  .wrapper.blog section {
    padding-top: 10%;
  }
}
.wrapper.blog section .page {
  max-width: 1240px;
  margin: 0 auto;
}
.wrapper.blog section h2 {
  margin-bottom: 6rem;
  font-size: 28px;
  margin-top: 1rem;
}
@media screen and (max-width: 768px) {
  .wrapper.blog section h2 {
    font-size: 18px;
    margin-bottom: 4rem;
  }
}
.wrapper.blog section h3, .wrapper.blog section h4, .wrapper.blog section h5, .wrapper.blog section h6 {
  margin-bottom: 2rem;
  font-size: 16px;
  margin-top: 4rem;
}
.wrapper.blog section p, .wrapper.blog section .img, .wrapper.blog section ul {
  margin-bottom: 1.5rem;
}
.wrapper.blog section .img img {
  max-width: 100%;
  width: auto;
  display: block;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .wrapper.blog section .img img {
    max-width: inherit;
    width: 100%;
  }
}
.wrapper.blog .back {
  display: block;
  text-align: left;
  padding-bottom: 8rem;
  width: 600px;
  margin: 5rem auto 0;
}
@media screen and (max-width: 768px) {
  .wrapper.blog .back {
    width: 90%;
  }
}
.wrapper.blog .back a {
  color: #fff;
  -webkit-transition: all .24s ease;
  transition: all .24s ease;
}
.wrapper.blog .back a:hover {
  color: #0092ca;
  -webkit-transition: all .24s ease;
  transition: all .24s ease;
}
.wrapper.blog .back .con01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .wrapper.blog .back .con01 {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .wrapper.blog .back .con01 div {
    display: block;
  }
}
.wrapper.blog .back .con02 {
  margin-top: 1rem;
}

#header .hum {
  width: 65px;
  height: 65px;
  background-color: #000;
  position: fixed;
  bottom: 4%;
  right: 4%;
  border-radius: 50%;
  z-index: 999;
  -webkit-transition: all .24s ease;
  transition: all .24s ease;
}
#header .hum div {
  width: 60%;
  height: 1px;
  background-color: #fff;
  position: absolute;
  top: 21px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all .24s ease;
  transition: all .24s ease;
}
#header .hum div:nth-child(2) {
  top: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  opacity: 1;
}
#header .hum div:last-child {
  top: auto;
  bottom: 21px;
}
#header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  padding: 1.3rem 2.3rem;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 998;
  background-color: rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 768px) {
  #header nav {
    opacity: 0;
    height: 100vh;
    width: 60%;
    margin: 0;
    padding: 0;
    display: block;
    -webkit-transition: all .24s ease;
    transition: all .24s ease;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
#header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 70%;
}
@media screen and (max-width: 768px) {
  #header nav ul {
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 25vw;
  }
}
#header nav ul li {
  margin-right: 2rem;
  line-height: 1;
}
@media screen and (max-width: 768px) {
  #header nav ul li {
    margin-bottom: 2.5rem;
    width: 100%;
  }
}
#header nav ul li a {
  display: block;
  color: #fff;
  font-size: 13px;
  -webkit-transition: all .24s ease;
  transition: all .24s ease;
}
@media screen and (max-width: 768px) {
  #header nav ul li a {
    font-size: 14px;
  }
}
#header nav ul li a:hover {
  color: #0092ca;
  -webkit-transition: all .24s ease;
  transition: all .24s ease;
}
#header nav .hum_wrap {
  width: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  #header nav .hum_wrap {
    margin: 0 auto;
    width: 120px;
  }
}
#header nav .hum_wrap .sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
#header nav .hum_wrap .sns a {
  width: 22%;
  font-size: 0;
  opacity: 1;
  -webkit-transition: all .24s ease;
  transition: all .24s ease;
}
#header nav .hum_wrap .sns a:hover {
  opacity: 0.7;
  -webkit-transition: all .24s ease;
  transition: all .24s ease;
}
#header nav .hum_wrap .sns a img {
  width: 100%;
}
#header.open .hum {
  background: none;
  -webkit-transition: all .24s ease;
  transition: all .24s ease;
}
#header.open .hum div {
  -webkit-transition: all .24s ease;
  transition: all .24s ease;
  -webkit-transform: rotate(45deg) translate(-50%);
          transform: rotate(45deg) translate(-50%);
  top: 70%;
}
#header.open .hum div:nth-child(2) {
  opacity: 0;
}
#header.open .hum div:last-child {
  -webkit-transform: rotate(-45deg) translate(-50%);
          transform: rotate(-45deg) translate(-50%);
  bottom: 70%;
  top: auto;
}
#header.open nav {
  opacity: 1;
  margin: 0;
  -webkit-transition: all .24s ease;
  transition: all .24s ease;
  background-color: black;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
