<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="Cache-Control" content="max-age=86400" />
  <title>{{ page.title }} | Zbrushの小技やイラスト制作について呟くブログ</title>
  <meta name="description" content="{{ page.description }}">
  <meta name="keywords" content="3DCG,illustration,イラスト,Zbrush,モデリング">
  <!-- OGP -->
  <meta property="og:title" content="{{ page.title }} | Zbrushの小技やイラスト制作について呟くブログ" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="{{ page.description }}" />
  <meta property="og:url" content="https://sakata-k.github.io/" />
  <meta property="og:image" content="https://sakata-k.github.io/assets/img/blog/{{ page.image }}" />
  <!-- Twitter -->
  <meta name="twitter:card" content="summary" />
  
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/style.css">
  <script type="text/javascript" src="{{site.baseurl}}/assets/js/jquery.js"></script>
  <script type="text/javascript" src="{{site.baseurl}}/assets/js/jquery.inview.min.js"></script>
  <script type="text/javascript" src="{{site.baseurl}}/assets/js/script.js"></script>
  
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-124186108-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-124186108-1');
  </script>
</head>
<body>
  <div class="main">
    <div class="header_inner"></div>
    {{ content }}
  </div>
</body>